@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
}

#beverages-menu,
#food-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 2fr));
  gap: 0.9em;
  padding: 0.5em;
  border-radius: 6em;
  padding: 4em;

}

body {
  height: 100vh;
  width: 100vw;
}

.bg-dogwood {
  background-color: #c9ada7;
}

.bg-isabelline {
  background-color: #f2e9e4;
}

.bg-ultra-violet {
  background-color: #4a4e69;
}

.btn-rose-quartz {
  background-color: #9a8c98;
}

.btn-rose-quartz:hover {
  background-color: #746471;
}

.btn-send {
  background-color: #22223b;
  color: #f2e9e4;
}

.btn-send:hover {
  background-color: #3e3e6b;
  color: #f2e9e4;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

#content-description {
  margin-top: 2em;
}

.container-general {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#description-text{
  margin-bottom: 2em;
  background-color: #f2e9e493;

}

#footer {
  border-radius: 1em;
}

.full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.info{
  border-radius: 2em 1em 4em 0em;
  border: 0.2em solid #4a4e6961;
  padding: 1em;
}
.item {
  background-color: #e6dddb;
  color: #22223b;
  border: 1em solid #746471;
  padding: 1.4em;
  text-align: center;
  font-size: 1.2em;
  border-radius: 1em;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#local {
  border-radius: 3em;
}

#main-logo {
  width: 2.5em;
  height: 2.5em;
}

.menu {
  width: auto;
  height: 10em;
  object-fit: contain;
}

.menu-text {
  font-size: 2em;
  font-weight: bold;
}

#us {
  font-size: 3em;
  color: #22223b;
  padding: 1em 1em 0.6em 1em;
  text-shadow: -0.1em -0.3em 1em #9a8c98;
}

#text-contact {
  background-color: #9a8c9875;
  padding: 1em;
}
.text{
  margin-top: 0.4em;
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .navbar-nav {
    order: -1;
  }
}